/* 准备资源 */
/* 字体 */

b,mark{
    user-select: none;
}
/* 部 */
    /* 部标题 */
    .bu_title{
        font-size:48px;
        font-weight: 900;
        text-align: center;
        color: #595959;
        display:block;
    }
    /* 部段落:即部引文段*/
    .bu_duan{
        font-size:24px;
        font-weight: 500;
    }
/* 章 */
    /* 章标题 */
    .zhang_title{
        font-size:38px;
        font-weight: 900;
        text-align: center;
        color:#666;
        display:block;
    }
    /* 章段落:即引文段 */
    .zhang_duan{
        font-size:24px;
        font-weight: 500;
    }
/* 节 */
    /* 节标题 */
    .jie_title{
        font-size:28px;
        font-weight: 900;
        color:#9f9f9f;
        display:block;
    }
    /* 节段落 */
    .jie_duan{
        font-size:24px;
        font-weight: 500;
    }
/* 小节 */
    /* 小节标题 */
    .xj_title{
        font-size:26px;
        font-weight: 900;
        color:#909090;
        display:block;
    }
    /* 小节段落 */
    .xj_duan{

    }
    /* 分栏 */
    .container{
        column-count: 4;
        column-rule: 1px dashed red;
    }
    .container p::first-letter{
        margin-left: 2em;
    }
    /* 正文 */
    [class$=zhengwen]{
        font-size: 2rem;
        text-indent:4rem;
        margin: 0;
    }
/* $$$$$$$$$$$$$$$$$$$$$$$$以下是语义层面的样式$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* 领域 */
.domain{
    background-color: red;
    color:white;
}


