<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RangeTest</title>
</head>
<body>
<button id="try">包装range中的内容</button>
<div id="new">
<p id="rs">结果</p>
    <p id="ts">AAA<b>BBB</b>CCC<p></p>
<ul><li>1</li><li>2</li></ul>
    <p id="from">内容</p>
    <p id="to"></p>
</div>
<div id="newEml"></div>
<script>
    let button = document.getElementById("try");
  button.onclick =   function showRangeMessage(){
  const selection = document.getSelection();
  let range = selection.getRangeAt(0);
  let rs = document.getElementById("rs");
  let ts = document.getElementById("ts");
  let s1 = ts.childNodes[0];
  let s2 = ts.childNodes[1];
  let s3 = ts.childNodes[2];
      console.log("s1:"+s1.textContent)
      console.log("s2:"+s2.outerHTML)
      console.log("s3:"+s3.textContent)
      range.setStart(s3,1);
      range.setEnd(s3,1);
      console.log("ts.innerText.replace(s2.innerHTML.substring(0,3),\"<b style=color:red>\")===>"+ts.innerText.replace(s2.innerHTML.substring(0,3),"<b style=color:red>"));
      ts.innerHTML = ts.outerHTML.replace(s2.innerHTML.substring(0,3),"<b style=color:red>");
  }

//  文档对象的常用功能：
    // 1.完整【筛选出导出备份】文档的【符合要求的】节点或节点集
    // appendChild(x) x 参数要求是 Node type ，且 无返回值；我们只能在插入之前调整node
    // importNode(x) x 参数要求是 Node type，且可以将node公布，返回一个node；我们可以随时随地调整node，相当于得到完整的node备份
    let to=document.getElementById("to")
    let from=document.getElementById("from")
    let handle=document.importNode(from,true)
    to.appendChild(handle)
    to.innerText = handle.outerHTML

</script>
</body>
</html>
