<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>《算法导论 第2版》</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="../static/css/book_note.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/prism/9000.0.1/prism.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/prism-themes/1.9.0/prism-a11y-dark.min.css" rel="stylesheet">
    <!--样式二：<link rel="stylesheet" href="../static/css/prism-dark.css">-->
    <link rel="stylesheet" href="../static/css/sweetalert.css">
    <script src="../static/js/sweetalert-dev.js"></script>
    <script src="../static/js/self_utils/string_util.js"></script>
    <!--右键菜单-->
    <style>
    textarea{
        border:0;
        border-radius:5px;
        background-color:rgba(241,241,241,.98);
        width: 355px;
        height: 100px;
        padding: 10px;
        resize: none;
    }
    .bu{
        width:80%;
        padding-left:10%;
        padding-right:10%;
    }
    b,mark,span{cursor: pointer;}
    p>span { border-bottom: 2px dotted;color: #E37274;}
    mark{color:antiquewhite}
    /*RCM*/
    body{
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow: hidden;
        font-family: "microsoft yahei";
    }
    .RCM-Main{
        position: absolute;
    }
    .RCM-container{
        border: 1px solid #ccc;
        padding: 5px 0px;
        display: block;
        box-shadow: 0px 0px 2px #ccc;
        font-size: 14px;
        border-radius: 3px;
        z-index: 10000;
        background: #fff;
        color: #000;
    }
    .RCM-container ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .RCM-container ul li{
        /* width: 70px; */
        height: 30px;
        line-height: 30px;
        /* text-align: center; */
        padding:0px 18px 0px 15px;
        cursor: pointer;
        position: relative;
    }

    .RCM-container ul li[data-content^=mark]:hover{
        background-color: mediumpurple;
        color: #fff;
    }
    .RCM-container ul li[data-content^=highlight]:hover{
        background-color: cadetblue;
        color: #fff;
    }
    .RCM-container ul li[data-content^=note]:hover{
        background-color: yellowgreen;
        color: #fff;
    }
    .RCM-container ul li[data-content=edit]:hover{
        background-color: deeppink;
        color: #fff;
    }
    .RCM-container ul li[data-content=del]:hover{
        background-color:orangered;
        color: #fff;
    }
    .fa-align-right{
        position: absolute;
        right: 0px;
        top: 10px;
    }
    .RCM-child{
        position: absolute;
        top: 0px;
        width: 100%;
    }
    .code_stl_trigger{
        border-radius: 5px;
        background: #9f9f9f;
        color:white;
        user-select:none;
        float:right;
        font-size:14px;
        font-family: "Yang";
    }
    .code_stl_trigger:hover{
        border-radius: 5px;
        background: #eeeeee;
        color:grey;
    }
    </style>
</head>
<body>
<!--加载书籍-->
<div id="content"></div>

<script type="text/javascript">
    // 永不消逝的全局变量
    let noteID;
    let selectionText;

    // 代码样式
    $(".code_stl_trigger").click(function (){
        if( $(this).attr("t") == 1 ){
            document.head.innerHTML=document.head.innerHTML.replace("<!--样式二：<link rel=\"stylesheet\" href=\"../static/css/prism-dark.css\">-->","<link rel=\"stylesheet\" href=\"../static/css/prism-dark.css\">");
            $(this).attr("t",2)
        } else if( $(this).attr("t") == 2 ) {
            document.head.innerHTML=document.head.innerHTML.replace("<link rel=\"stylesheet\" href=\"../static/css/prism-dark.css\">","<!--样式二：<link rel=\"stylesheet\" href=\"../static/css/prism-dark.css\">-->");
            $(this).attr("t",1)
        }

    })

    // 工具：在某一事件触发后，刷新事件源的Text节点内容
    function updateContent(target,e){
        $(target).text(e.target.value);
    }
    // 工具：清除添加笔记的提示内容
    function clearAddNoteTip(target){
        if ( $(target).html() == "请输入需要添加的笔记：" ){
            $(target).html("");
        }
    }
    // 工具：无返回值的ajax请求
    function noResponseAjax(serviceName,params){
        $.ajax({
            type: "post",
            url: "http://127.0.0.1:8080/"+serviceName,
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(params)
        });
    }
    // 工具：有返回值的ajax请求
    function responseAjax(serviceName,params){
        let rs;
        $.ajax({
            type: "post",
            url: "http://127.0.0.1:8080/"+serviceName,
            contentType: "application/json;charset=UTF-8",
            async: false,
            data: JSON.stringify(params),
            success:function (value) {
                rs =  value; // 默认的异步ajax请求无法对全局变量赋值，需加上async: false
            }
        });
        return rs;
    }

    // 添加笔记
    function addNote(note) {
        swal({
                title:"处理有关<font color='#d2691e'>"+note.selection+"</font>的笔记：",
                text:"<textarea id='note' onfocus='clearAddNoteTip(this)' onblur='updateContent(this,event)'>"+selectNote(note.notePosition,2)+"</textarea>",
                html:true,
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定处理",
                cancelButtonText: "取消处理",
                closeOnConfirm: false,
                closeOnCancel: false
            },function(isConfirm){
                if (isConfirm) {
                    let response = "";
                    if ( "" != $("#note").text() ) {
                        // 添加笔记到后端
                        let params = {
                            notePosition:note.notePosition,
                            noteContent:$("#note").text(),
                            creatorId:10001
                        }
                        response = responseAjax("addNote",params);
                        swal({
                            title: "处理结果",
                            text: response
                        })
                        renderNote(note.notePosition)
                    } else {
                        swal({
                            title: "处理结果",
                            text: "没有添加任何笔记"
                        })
                    }
                } else {
                    swal("取消", "处理笔记操作已取消","error");
                }
            }
        )
    }

    // 查询笔记
    function selectNote(notePosition,v) {
        let note;
        let response;
        $.ajax({
            type: "post",
            url: "http://127.0.0.1:8080/selectNoteByPosition",
            contentType: "application/json;charset=UTF-8",
            async: false,
            data: JSON.stringify({"notePosition":notePosition}),
            success:function (value) {
                response =  value; // 默认的异步ajax请求无法对全局变量赋值，需加上async: false
            }
        });
        if ( v == 2 ) {
            if ( response != "null" && response != "" ){
                note = response;
            } else {
                note = "请输入需要添加的笔记：";
            }
            let noteDom = document.getElementById("note");
            $(noteDom).innerText = note;
        }
        else if (  v == 1 && response != "null"  && response != "" ) {
            document.getElementById(notePosition).setAttribute("title", response);
        }
        return note;
    }

    // 清除划线或笔记
    function delNoteInfo(nid){
        if (undefined != nid){
            let params = {
                notePosition:nid,
                clearType:1  // 1.清除划线 2.清除划线和笔记
            }
            let response = responseAjax("clearNote",params);
            if ( response.includes("存在笔记") ){
                swal({
                        title:"操作反馈",
                        text:response,
                        showCancelButton: true,
                        cancelButtonText: "取消删除",
                        confirmButtonText: "确定删除",
                        confirmButtonColor: "#DEB887"
                    },function(isConfirm) {
                        if (isConfirm) {
                            params.clearType = 2;
                            responseAjax("clearNote",params);
                            let mark = document.getElementById(nid).outerHTML.split(" ")[0].split("<")[1];
                            let parent = document.getElementById(nid).parentElement;
                            let rs = clearMark(parent.innerHTML,mark,nid);
                            parent.innerHTML = rs;
                        } else {
                            noResponseAjax("toReader","")
                        }
                    }
                )
            } else {
                let mark = document.getElementById(nid).outerHTML.split(" ")[0].split("<")[1];
                let parent = document.getElementById(nid).parentElement;
                let rs = clearMark(parent.innerHTML,mark,nid);
                parent.innerHTML = rs;
                swal("笔记删除成功")
            }
        }
        noResponseAjax("toReader","");
    }

    // 生成noteID
    function generateNoteId(){
            let selection = getSel();
            selectionText = selection.toString(); // 为全局变量selectionText赋值
            let hang = selection.focusNode.parentElement;
            let range = selection.getRangeAt(0);
            let left = selection.anchorOffset;
            let right = selection.focusOffset;
            if ( left == right ) {
                return false;
            }
            let max;
            if ( left > right ) {
                max = left;
                left = right;
                right = max;
            }
            let b1 = (range.startContainer.previousSibling == null);
            let b2 = (range.startContainer.nextSibling == null);
            let hangOuter = hang.outerHTML.replace("<p class=\"hang\">","").replace("</p>","");
            if ( !hangOuter.includes("</b>") && !hangOuter.includes("</mark>") && !hangOuter.includes("</span>") ) {
                // 表示当前行中没有笔记，既然这样，接下来添加的笔记是第一个，id是无争议的
                // 没有笔记正常流程，不用改动left、right
            } else if ( !b1 && b2 ) {
                let nextId = range.startContainer.previousSibling.id;
                let offR = parseInt(nextId.split("-")[2].split(":")[1]);
                right = right + offR;
                left = right - selection.toString().length;
            } else if ( !b1 ) { // 前无元素后有元素、前后都有元素、前后都无元素
                let preId = range.startContainer.previousSibling.id;
                let offR = parseInt(preId.split("-")[2].split(":")[1]);
                right = right + offR;
                left = right - selection.toString().length;
            }
            let did;
            let hid;
            let duan = selection.focusNode.parentElement.parentElement;
            let duans = document.getElementsByClassName("duan");
            for (let i = 0; i < duans.length; i++) {
                if (duans[i] === duan) {
                    did = i;
                    let hangs = duans[i].children;
                    for (let j = 0; j < hangs.length; j++) {
                        if (hangs[j] === hang) {
                            hid = j;
                        }
                    }
                }
            }
            let notePosition = did + "-" + hid + "-" + left + ":" + right + "-" + "" + "-" + "";
            return notePosition // 返出变量，构建永久闭包变量
    }

    // 添加noteID
    function addNoteId(nid,tag,color,type) {
        let notePosition;
        if ( undefined != nid) { // 如果自定义ID存在，就用自定义的
            notePosition = nid
        } else { // 否则用全局默认的
            notePosition = noteID
        }
        // 两种添加ID的情况
        if ( type === 1 ) {
            return notePosition
        } else {
            if ( undefined != notePosition && !notePosition.includes("--") && notePosition != "false" ) { // 当type !=  1 且noteID正常时，则把Id保存至数据库
                let basicNote = {
                    "notePosition": notePosition,
                    "creatorId": 10001
                }
                noResponseAjax("addNote", basicNote) // 将笔记信息添加至后端
            }
        }
    }

    // 渲染notesID
    const renderNote = function (notePositions) {
        if ( "" != notePositions ) {
            notePositions = notePositions.replace(/\[|]/g, "").split(",");
            for (let n = 0; n < notePositions.length; n++) {
                let did = parseInt(notePositions[n].split("-")[0]);
                let hid = parseInt(notePositions[n].split("-")[1]);
                let left = parseInt(notePositions[n].split("-")[2].split(":")[0]);
                let right = parseInt(notePositions[n].split("-")[2].split(":")[1]);
                let tag = notePositions[n].split("-")[3];
                let color;
                switch (notePositions[n].split("-")[4]) {
                    case "black":
                        color = "black";
                        break;
                    case "red":
                        color = "red";
                        break;
                    case "blue":
                        color = "blue";
                        break;
                    case "green":
                        color = "green";
                        break;
                    case "skyblue":
                        color = "skyblue";
                        break;
                    case "yellowgreen":
                        color = "yellowgreen";
                        break;
                    case "purple":
                        color = "purple";
                        break;
                    case "orange":
                        color = "orange";
                        break;
                    default:
                        color = "";
                        break;
                }
                let sci1 = "onmouseover";
                let sci2 = "onclick";
                let scv1 = "selectNote(this.id,1)";
                let scv2 = "addNote({notePosition:this.id,selection:this.innerText})";
                let script = " "+sci1+"="+scv1+" "+sci2+"="+scv2
                let stl = (tag == "mark" ? "background-color" : tag == "b" ?  "color":"");
                let thisHangNode = document.getElementsByClassName("duan")[did].getElementsByClassName("hang")[hid];
                let ml = "<"+tag+" id="+notePositions[n]+" style="+stl+":"+color+script+">";
                thisHangNode.innerHTML = replaceSelectionIgnoreMark(thisHangNode,left,right,ml);
            }
        }
    };

    // 构造闭包全局变量noteID
    $("p").bind('mouseup',function(){
        let gid = getNoteId();
        noteID = gid();
    })
    function getSel(){
        if(document.Selection){
            //ie浏览器
            return document.selection;
        }else{
            //标准浏览器
            return window.getSelection();
        }
    }
    function getNoteId() {
        function gId() {
            return generateNoteId()
        }
        return  gId
    }

    // 创建右键菜单类
    (function() {
        let that;
        let html = "";
        ! function(e) {
            e.RMenu = {
                init: function(per) {
                    if (typeof(per) != "object"
                        && !per.hasOwnProperty('area')
                        && !per.hasOwnProperty('items')
                        && !per.hasOwnProperty('callback'))
                        throw "json 数据错误";
                    that = this;
                    this.showMenu(per);
                    let areaHeight = $(per.area).height();
                    let areaWidth = $(per.area).width();
                    let menuHeight = $('.RCM-Main').height();
                    let menuWidth = $('.RCM-Main').width();
                    let thisClickId;
                    $(per.area).bind('contextmenu', function() {
                       thisClickId = event.target.id;
                        let xPos = parseInt(event.pageX + 10);
                        let yPos = event.pageY;
                        if (areaWidth - xPos < menuWidth) {
                            xPos = (xPos - menuWidth - 20);
                            $('.RCM-container').css({
                                left: (xPos - menuWidth - 20) + "px",
                                top: yPos + "px"
                            }).show();
                        }
                        if (areaHeight - yPos < menuHeight) {
                            yPos = (yPos - menuHeight - 20);
                        }
                        $('.RCM-Main').css({
                            left: xPos + "px",
                            top: yPos + "px"
                        }).show();
                        return false;
                    })
                    $(per.area).on('click', function() {
                        $('.RCM-container').hide();
                    });
                    $('.RCM-container li').on('click', function() {
                        let content = $(this).data('content');
                        $('.RCM-container').hide();
                            per.callback({
                                event: 'click',
                                data: content,
                                clickId:thisClickId
                            });
                    });

                    $('.RCM-container ul li').mouseover(function() {
                        if ($(this).find('i').hasClass('fa-align-right')) {
                            let width = $(this).find('i').next('.RCM-child').width();
                            $(this).find('i').next('.RCM-child').css('left', width).show();
                        }
                    });

                    $('.RCM-container ul li,.RCM-child li').mouseout(function() {
                        $('.RCM-child').hide();
                    });
                },
                contextMenu: function(per, key) {
                        let sub_key = key ? key : "Main";
                        html += '<div class="RCM-container RCM-' + sub_key + '"><ul>';
                        $.each(per.items, function(item, val) {
                            let icon = val.icon ? '<i class="fa fa-' + val.icon + ' fa-fw ">&nbsp;' : ''
                            let center = val.icon ? 'no_center' : 'text_center';
                            let iconAfter = val.items ?
                                '<i class="fa fa-chevron-right fa-fw fa-align-right">&nbsp;' : '';
                            html += '<li  data-content=' + item + ' class="' + center +'">' + icon +
                                '</i>' + val.name + iconAfter + '</i>';
                            if (val.hasOwnProperty('items')) {
                                that.contextMenu(val, 'child');
                            }
                            html += '</li>';
                        });
                        html += "</ul></div>";
                        return html;
                },
                showMenu: function(per) {
                    let ce = this.contextMenu(per);
                    $(per.area).append(ce);
                    $('.RCM-container').hide();
                }
            };
        }(window)
    })();
    // 初始化右键菜单
    $(document).ready(function(){
        // 渲染右键菜单
        let rcm = window.RMenu;
        rcm.init({
            area: 'body',
            items: {
                "mark": {
                    name: "标记选中", icon: 'font',
                    items: {
                        "mark-underline": {name: "划线记号", icon: 'underline'},
                        "mark-bold": {name: "加粗记号", icon: 'bold'}
                    }
                },
                "highlight": {
                    name: "高亮选中", icon: 'google-wallet',
                    items: {
                        "highlight-text": {name: "描边高亮", icon: 'square-o'},
                        "highlight-bg": {name: "背景高亮", icon: 'square'}
                    }
                },
                "note": {
                    name: "添加笔记", icon: 'leanpub',
                    items: {
                        "note-text": {name: "文本笔记", icon: 'file-word-o'},
                        "note-pic": {name: "图片笔记", icon: 'file-image-o'},
                        "note-aud": {name: "音频笔记", icon: 'file-sound-o'},
                        "note-vid": {name: "视频笔记", icon: 'file-video-o'}
                    }
                },
                "edit": {name: "编辑笔记", icon: 'edit'},
                "del": {name: "删除笔记", icon: 'trash-o'}
            },
            callback: function (res) {
                let params;
                if (res.data == 'mark-underline') { // 划线
                    let finalNoteId = noteID.replace("--","-span-");
                                        params = {
                        notePosition: finalNoteId,
                        creatorId: 10001
                    }
                    noResponseAjax("addNote", params)
                    renderNote(finalNoteId);
                } else if (res.data == 'mark-bold') { // 加粗
                    let finalNoteId = noteID.replace("--","-b-").replace("b-","b-black");
                                        params = {
                        notePosition: finalNoteId,
                        creatorId: 10001
                    }
                    noResponseAjax("addNote", params)
                    renderNote(finalNoteId);
                } else if (res.data == 'highlight-text') { // 描边高亮
                    let finalNoteId = noteID.replace("--","-b-").replace("b-","b-yellowgreen");
                                        params = {
                        notePosition: finalNoteId,
                        creatorId: 10001
                    }
                    noResponseAjax("addNote", params)
                    renderNote(finalNoteId);
                } else if (res.data == 'highlight-bg') { // 背景高亮
                    let finalNoteId = noteID.replace("--","-mark-").replace("mark-","mark-yellowgreen");
                                        params = {
                        notePosition: finalNoteId,
                        creatorId: 10001
                    }
                    noResponseAjax("addNote", params)
                    renderNote(finalNoteId);
                } else if (res.data == 'note-text') { // 添加文本笔记
                    let finalNoteId;
                    if ( undefined != noteID ) {
                    finalNoteId = noteID.replace("--","-b-").replace("b-","b-black");
                    }
                    if ( undefined != finalNoteId ) {
                        let note = {
                            selection:selectionText,
                            notePosition:finalNoteId
                        }
                        addNote(note)
                    }
                } else if (res.data == 'note-pic') { // 添加图片笔记
                                    } else if (res.data == 'note-aud') { // 添加音频笔记
                                    } else if (res.data == 'note-vid') { // 添加视频笔记
                                    } else if (res.data == 'edit') { // 编辑笔记
                    let search_note = document.getElementById(res.clickId)
                    if ( null == search_note ) {
                        swal("温馨提示","请添加笔记后再进行编辑","error")
                    } else {
                        let note = {
                        selection:document.getElementById(res.clickId).innerText,
                        notePosition:res.clickId
                        }
                        addNote(note)
                    }
                } else if (res.data == 'del') {
                    let search_note = document.getElementById(res.clickId)
                    if ( null == search_note ) {
                        swal("温馨提示","无法删除不存在的内容","error")
                    } else {
                        delNoteInfo(res.clickId);
                    }
                }
            }
        })



    })

    // 初始化
    $(document).ready(function(){
        // 初始化文章
        let html = responseAjax("selectAllText","");
        document.getElementById("content").innerHTML = html;




        // 渲染笔记到初始化的文章中
        renderNote(responseAjax("selectNotePositions",""));
    })


</script>

</body>
</html>
